.displaydiv{
    display: flex;
}
.slideholder{
    width: 65%;
    margin-left: 30px;
}
.con{
    width: 35%;
    margin-left: 40px;
}
.con h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.con p{
    font-size: 15px;
}